DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=task-manager
DATABASE_URL=postgres://postgres:password@localhost:5432/task-manager
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PEPPER=pepper
JWT_SECRET=secret
GMAIL_USER=your-gmail@gmail.com
GMAIL_PASSWORD=your-gmail-password # App password on gmail (search inside manage google account)
TEST_EMAIL=your-test-email@gmail.com #Recipient email for test emails (worker)
 